.container {
  width: 8vw;
  height: 16vh;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  flex-shrink: 0;
  box-sizing: border-box;
}

.housing {
  width: 8vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
  border-radius: 1px;
}

.imgText {
  font-size: 1vw;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3), -3px 0px 7px rgba(0, 0, 0, 0.3),
    0px 4px 7px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 9.3vh;
  right: 0.5vh;
}

.text {
  width: 100%;
  height: 2.5vh;
  text-align: center;
  font-size: 1.05vw;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.25), -3px 0px 7px rgba(0, 0, 0, 0.25),
    0px 4px 7px rgba(0, 0, 0, 0.25);
}

.img {
  position: absolute;
  width: 5.5vw;
}
