.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.popup {
  width: 25vw;
  padding: 0 1vw;
  height: 15vh;
  border-radius: 0.5vw;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text {
  padding-top: 0.2vh;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.15), -3px 0px 7px rgba(0, 0, 0, 0.15),
    0px 4px 7px rgba(0, 0, 0, 0.15);
  font-size: 1.11vw;
  text-align: center;
  margin-top: 3vh;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5vh;
  gap: 0.7vw;
}

.button {
  /* background-color: rgba(0, 255, 255, 0.473); */
  width: 9.5vh;
  height: 3.9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px;
  font-size: 1vw;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.1), -3px 0px 7px rgba(0, 0, 0, 0.1),
    0px 4px 7px rgba(0, 0, 0, 0.1);
}
