.container {
  width: 4.8vw;
  height: 8.2vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 1px;
}

.img {
  width: 3.4vw;
  height: 3.4vw;
}

.text {
  position: absolute;
  font-size: 1vw;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.25), -3px 0px 7px rgba(0, 0, 0, 0.25),
    0px 4px 7px rgba(0, 0, 0, 0.25);
}
