.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 1.5vw;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.25), -3px 0px 7px rgba(0, 0, 0, 0.25),
    0px 4px 7px rgba(0, 0, 0, 0.25);
  font-family: 'Black';
  position: absolute;
  margin-top: -20vh;
  margin-left: -17.5vw;
}

.text2 {
  font-size: 1.5vw;
  text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.25), -3px 0px 7px rgba(0, 0, 0, 0.25),
    0px 4px 7px rgba(0, 0, 0, 0.25);
  font-family: 'Black';
}

.housing {
  margin-top: 3vh;
  width: 85%;
  height: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 3.5vw;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
}
